@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
:root {
    --primary-color:  #3D405B;
    --secondary-color: #f48e72d2;
    --accent1-color: #F2CC8F; 
    --accent2-color: #81B29A;

    --heading-font: 'Roboto Condensed', serif;
    --paragraph-font: 'Sans', serif;

    --nav-background-color: #f48e72d2;
    --nav-link-color: #81B29A;
    --nav-hover-link-color: #3D405B;
    --nav-hover-background-color:#F2CC8F;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header img {
    max-height: 80px;
    width: 80px;
}
.header h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333
}
.header nav {
    justify-self: end;
}
.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header nav ul li {
    margin-left: 20px;
}
.header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
}
.header nav ul li a:hover {
    color: #007bff;
}
p {
    padding: 25px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
    text-transform: capitalize;
    background-color: var(--nav-background-color);
}
nav a {
    display: block;
    background-color: var(--nav-background-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.hero{
    position: relative;
}
.hero h1 {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    text-align: center;
    color: #134f8c;
    padding: 2rem;
}
.hero img {
    width: 100%;
    height: auto;
}
.hero article {
    position: absolute;
    top: 5rem;
    background-color: rgba(255, 255, 255, 0.9);
    color: #3D405B;
    padding: 1rem;
    left: 0;
    right: 0;
    max-width: 80%;
    margin: 0 auto;
}
.hero article img {
    float: right;
    width: 200px;
}
.hero p {
    font-size: large;
}
.sociallinks a img {
    width: 40px; /*adjusts the width as needed*/
    height: auto; /*keeping this as auto ensures it remains proportial to specified width*/
}
body {
    font-family: var(--paragraph-font);
    max-width:960px;
    font-family: Arial;
    margin: 0 auto;
}
/*Home page index.html*/
.newsletter {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.newsletter input[type="text"],
.newsletter input[type="email"],
.newsletter button {
    padding: 10px;
    margin: 5px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.newsletter button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* Styles for call to action */
.call-to-action {
    text-align: center;
    padding: 50px 20px;
    background-color: #e9f5f7;
}

.call-to-action .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* Styles for purpose and offerings */
.purpose-offerings {
    padding: 50px 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
/*------------------------------------*/

/*for about us page*/
.history {
    display: flex;
    justify-content: center;
    flex: 0 0 18%;
    text-align: center;
}
.adventures {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between figures */
    align-items: center;
    padding: 20px;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    background-color: #f9f9f9;
}

.adventures figure {
    margin: 10px; /* Space between figures */
    text-align: center; /* Center the caption */
    flex: 0 0 18%; /* Grow and shrink with a base width of 18% */
}

.adventures img {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains aspect ratio */
    border-radius: 5px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.1);
}

.adventures figcaption {
    margin-top: 5px; /* Space between image and caption */
    font-size: 0.9rem;
    font-weight: bold;
    color: #555;
}
/*--------------------------------*/

/*for contact page*/
#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
}
.company-info {
    flex: 1 1 300px; /* Flex-grow, flex-shrink, flex-basis */
    max-width: 300px; /* Maximum width of company info section */
}
.map {
    flex: 1 1 300px; /* Take up remaining space */
    max-width: 300px;
    margin-left: 20px; /* Optional: Add margin for spacing */
}

.map iframe {
    margin-top: 20px;
    height: 300px; /* Adjust height as needed */
}
.employee {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center align items horizontally */
    gap: 20px;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}
.employee h2 {
    margin-top: 110px;
}
.employee figcaption {
    text-align: center; /* Center-align the figure content */
    margin-bottom: 20px; /* Optional: Adds some space between figures */
    font-size: 14px; /* Adjust font size as needed */
    color: #000000; /* Adjust color as needed */
}
.employee img {
    width: 150px; /* Adjust the width as per your design */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures the images are block elements */
    margin-bottom: 10px; /* Optional: Adds some space between images */
}
/*--------------------------------*/

/*for trips page*/
.book-trip h1 {
    justify-content: center;
    text-align: center;
    color: #3D405B;
}
.herotwo {
    position: relative;
}
.herotwo img {
    width: 100%;
    height: auto;
}
.reservations {
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}
.button-container {
    justify-content: center;
    align-items: center;
}
.main-button {
    text-align: center;
    background-color: #f48e72d2;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
    width: 100%;
    max-width: 200px;
}

.main-button:hover {
    background-color: #9c4831d2;
}
.excursions {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}
.excursions h2 {
    margin-top: 40px;
    font-size: 30px;
    margin-left: 0;
}
.excursions figcaption {
    text-align: center; /* Center-align the figure content */
    margin-bottom: 20px; /* Optional: Adds some space between figures */
    font-size: 18px; /* Adjust font size as needed */
    color: #000000; /* Adjust color as needed */
    justify-content: center; /* Center align items horizontally */
    gap: 20px;
}
.excursions img {
    width: 150px; /* Adjust the width as per your design */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures the images are block elements */
    margin-bottom: 10px; /* Optional: Adds some space between images */
    justify-content: center; /* Center align items horizontally */
    gap: 20px;
}